<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Home</title>
</head>
<body>
    This is Admin's page. In this i want to show the list of books available in the library.
    

    <div th:if="${hasBooks}">
        <h2>Available Books</h2>
        <ul>
            <li th:each="book : ${books}" th:text="${book.title}">Book Title</li>
        </ul>
    </div>
   
   

    <h2>Search for Books</h2>
    <p>Search for books by name:</p>
   <!-- search for books: By name.  -->
<div>
    <form th:action="@{search}" method="get">
    <input type="text" name="query" placeholder="Search for books..." required>
    <button type="submit">Search</button>
</form>

    
</body>
</html>